.list {
  margin: 0;
  list-style-type: none;
  padding: 30px;
  display: flex;
  gap: 300px;
  margin: 0;
  padding: 10px;
  justify-content: space-between;

  color: white;
  font-size: 25px;
  width: 50em;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  margin-right: 10px;
  flex-grow: 1;
  border-radius: 5px;
}
rs {
  background-color: mediumvioletred;
  border-radius: 100px;
  padding: 10px;
}
rb {
  background-color: aqua;
  border-radius: 100px;
  padding: 10px;
}
ry {
  background-color: mediumpurple;
  border-radius: 100px;
  padding: 10px;
}
img.yuvarlak {
  float: left;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.ornek {
  width: 900px;
  margin-left: 0;
}
.sola-kaydir {
  float: left;
  padding: 0 10px 10px 0;
  width: 50%;
}
.yazi {
  background-color: peachpuff;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.yazi2 {
  float: right;
  margin-right: 300px;
}
.Kapadokya {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  text-align: center;
  margin: auto;
}
.atv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  text-align: center;
  margin: auto;
}
.tablo {
  padding: 10px;
    border-radius: 15px
    object-fit : cover;
}

footer .a1 {
  background-color: mediumvioletred;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .a2 {
  background-color: aquamarine;
    border-radius: 25px;
}
footer .a3 {
  background-color: blueviolet;
  border-radius: 25px;
}
footer {
  background-color: bisque;
    color: white;
    height: 30px;
   
    display: inline-block;
    padding: 60px 600px;
    
    display: flex;
}

